<app-header></app-header>

<section class="container">
    <div class="text">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore.</p>
    </div>

   
        <form>
            <div class="form">
                <div class="row">
                  <div>
                    <input type="text" name="firstName" placeholder="First Name"/>
                  </div>
                  <div>
                    <input type="text" name="lastName" placeholder="Last Name"/>
                  </div>
                </div>
               <div  class="row">
                <div>
                    <input type="text" name="email" placeholder="E-mail" />
                  </div>
                  <div>
                    <input type="text" name="subject" placeholder="Subject" />
                  </div>
                </div>
            
              <div>
                <textarea name="message" placeholder="Message" rows="5" cols="46"></textarea>
              </div>
                <div>
                    <button type="submit">Send Message</button>
                </div>
            </div>
        </form>
    
</section>
