<section class="container">
    <div class="brands-list">
        <div class="header">
            <h1>Brands</h1>
        </div>
        <div class="brands-container">
            <div class="brand">
                <div class="brand-name">
                    <h1>Brand 1</h1>
                </div>
            </div>
            <div class="brand-status">
                <span>Pending</span>
            </div>
        </div>
    </div>
    <div class="add-new">
        <div class="header">
            
        </div>
        <div class="add">
            <span class="plus">+</span>
            <span>Start New Project Or Brand</span>
        </div>
    </div>
</section>