footer{
    background-color: #8A4FFF;
    padding: 20px;
    color: white;
}
.brand-logo{
   
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
   
}
.footer-social> ul{
    display: flex;
    gap: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.column{
    width: 40%;
    
}

.container{
    padding: 20px 200px 20px 100px;
}