<footer>
    <div class="container">
        <div class="row">
            <div class="column">

                <div class="footer-logo">
                    <a href="#" class="brand-logo">Hephaestus</a>
                </div>
                <div>
                    <p>We are always open to discuss your project and improve your online presence.</p>
                </div>
            </div>

            <div class="column">
                <h1>Let's Talk</h1>
                <p>
                    We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.
                </p>
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><img src="./../../../assets/icons/fb.svg" alt=""></a></li>
                        <li><a href="#"><img src="./../../../assets/icons/twitter.svg" alt=""></a></li>
                        <li><a href="#"><img src="./../../../assets/icons/insta.svg" alt=""></a></li>
                        <li><a href="#"><img src="./../../../assets/icons/linkedin.svg" alt=""></a></li>
                    </ul>
                </div>
              
            </div>
        </div>
        <div class="footer-text">
            <p>Copyright &copy; 2022. All rights reserved.
                <a href="https://www.facebook.com/profile.php" target="_blank">
                    <span>Designed by:</span>
                    <span>Salma</span>
                </a>
            </p>
        </div>
    </div>
  
</footer>
