
footer{
    display: flex;
    justify-content: space-around;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    box-shadow: 0 4px 14px 0 rgba(164,175,184,.75);
    background-color: #fff;
    }

button{
    border: 1px solid #8a4fff;
    padding: 10px 15px;
    border-radius: 20px;
  }