<app-header></app-header>
<section>
  <div class="first">
    <h1>Checkout</h1>
    <div>
      <h2>Shipping Address</h2>
      <form action="" [formGroup]="checkoutForm" (submit)="onSubmit(checkoutForm)">
        <div class="form">
          <div class="row">
            <div>
              <input type="text" name="firstName" formControlName="firstName" placeholder="First Name" />
            </div>
            <div>
              <input type="text" name="lastName" formControlName="lastName" placeholder="Last Name" />
            </div>
          </div>
          <div>
            <input type="text" name="address" formControlName="address" placeholder="Address" />
          </div>
          <div>
            <input
              type="text"
              name="company"
              formControlName="company"
              placeholder="Company Name (optional)"
            />
          </div>
          <div>
            <input type="submit" value="Pay" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="second">
    <h1>Summury</h1>
    <div class="content">
      <div>
        <span>Logo Design</span>
        <span>350$</span>
      </div>
      <div>
        <span>Logo Design</span>
        <span>350$</span>
      </div>
      <div>
        <span>Logo Design</span>
        <span>350$</span>
      </div>
      <hr />
      <div>
        <span>Total</span>
        <span id="total">350$</span>
      </div>
      <hr />
    </div>
  </div>
</section>
