<app-header></app-header>
<section class="container home">
    <div class="text">
      <h1>
        All the features you need
      </h1>
      <p>
        Only 5% of top creative designers get selected. 
        We personally review portfolios and accept only the best and most experienced 5% of all designer applications. 
        TLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="img-home">
        <img src="/assets/icons/about.svg" alt="">
    </div>
</section>

<section class="container hero">
<div>
    <h2>
        How we work
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
</div>
<div class="work">
   
      <div>
        <p class="num">1</p>
        <h3>Strategy</h3>
          <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .</p>
      </div>
      <div>
        <p class="num">2</p>
        <h3>Strategy</h3>
          <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .</p>
      </div>
   

    <div>
      <p class="num">3</p>
      <h3>Strategy</h3>
        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .</p>
    </div>
    <div>
      <p class="num">4</p>
      <h3>Strategy</h3>
        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .</p>
    </div>
  
  </div>
</section>

<section class="container projects">
    <div class="text">
      <h2>
        View Our projects
      </h2>
    </div>

    <div class="projects-list">
        <div class="project1">
            <img src="/assets/images/Card.png" alt="">
            <div class="text-block">
              <h4>Workhub office Webflow Webflow Design</h4>
              <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam </p>
            </div>
        </div>
        <div class="project2">
          <div >
            <img src="/assets/images/Card2.png" alt="">
        </div>
        <div >
            <img src="/assets/images/Card2.png" alt="">
        </div>
        </div>
    </div>

</section>
<section class="solve container">
  <div class="title">
    <p>Features</p>
    <h2>Design that solves problems,<br> one product at <br> a time</h2>
  </div>

  <div class="solve-list">
    <app-box image="/assets/icons/Icon.svg" boxTitle="Uses Client First" boxContent="Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. "></app-box>
    <app-box image="/assets/icons/suffix.svg" boxTitle="Two Free Revision Round" boxContent="Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. "></app-box>
    <app-box image="/assets/icons/smt.svg" boxTitle="Template Customization" boxContent="Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. "></app-box>
    <app-box image="/assets/icons/Vector.svg" boxTitle="24/7 Support" boxContent="Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. "></app-box>
    <app-box image="/assets/icons/time.svg" boxTitle="Quick Delivery" boxContent="Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. "></app-box>
    <app-box image="/assets/icons/write.svg" boxTitle="Hands-on approach" boxContent="Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. "></app-box>

    </div>

</section>

<app-footer></app-footer>