<section>
    <div class="container">
        <div class="header">
                <div class="">Starter</div>
                <div class="">$249</div>
        </div>
        <div class="">
            <ul>
                <li class=""> Expect 3 - 6 designs </li>
                <li class="">From 3+ professional designers</li>
                <li class="">Unlimited revisions</li>
                <li class="">Full copyright</li>
                <li class="">Money back guarantee</li>
            </ul>
        </div>
        <div class="btn ">
            <button class="" type="button">Select</button>
        </div>
    </div>
    <div class="container active">
        <div class="header">
                <div class="">Business</div>
                <div class="">$380</div>
        </div>
        <div class="">
            <ul>
                <li class="">Expect 5 - 8 designs </li>
                <li class="">From 5+ professional designers</li>
                <li class="">Larger designer prize</li>
                <li class="">Unlimited revisions</li>
                <li class="">Full copyright</li>
                <li class="">Money back guarantee</li>
            </ul>
        </div>
        <div class="btn ">
            <button class="btn-active" type="button">Select</button>
        </div>
    </div>
    <div class="container">
        <div class="header">
                <div class="">Pro</div>
                <div class="">$753</div>
        </div>
        <div class="">
            <ul>
                <li class=""> Expect 10 - 14 designs </li>
                <li class="">From 10+ professional designers</li>
                <li class="">Unlimited revisions</li>
                <li class="">Full copyright</li>
                <li class="">Larger designer prize</li>
                <li class="">Money back guarantee</li>
                <li class="">Priority support</li>
            </ul>
        </div>
        <div class="btn ">
            <button class="" type="button">Select</button>
        </div>
    </div>
</section>