<div class="grid col-span-4">
    <div class="group shadow-lg hover:shadow-2xl duration-200 delay-75 w-full bg-gradient-to-r from-violet-600 to-purple-500 py-6 pr-6 pl-9 rounded-md" href="">
      <div class="flex justify-between items-center">
        <p class="text-5xl font-bold text-gray-100 group-hover:text-gray-700"> 40
          <span class="text-sm font-semibold text-gray-100 group-hover:text-gray-700 mt-2 leading-6">/ Analyses </span>
        </p>
        <a class="px-4 py-4 bg-slate-300  rounded-xl bg-opacity-30">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 group-hover:text-gray-700"  viewBox="0 0 20 20" fill="#fff">
            <path fill-rule="evenodd"
              d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  