<div
  class="h-screen bg-white flex flex-col space-y-10 justify-center items-center"
>
  <!-- Layout  -->
  <div class="bg-white w-96 shadow-xl rounded p-5">
    <h1 class="text-3xl font-medium">Welcome Back</h1>
    <h4 class="text-s text-slate-600 font-medium ">Login into your account</h4>
    <form class="space-y-5 mt-5">
      <input
        type="text"
        class="w-full h-12 border border-gray-800 rounded-full px-3"
        placeholder="UID"
      />
      <!-- <div class="w-full flex items-center border border-gray-800  px-3"> -->
        <input type="password" class="w-full h-12 border border-gray-800 rounded-full px-3 " placeholder="Mot de passe" />
      <!-- </div> -->

      <div class="">
  
      </div>

      <button
        class="text-center w-full bg-primary rounded-full text-white py-3 font-medium"
        type="submit">
        S'identifier
      </button>
    </form>
  </div>
</div>
