<section class="container">
    <div class="header">
        <h1>Select designs you like</h1>
    
        <p>
          Select at least 3 designs that you think fit your brand to help the designers
          understand the visual style
        </p>
    </div>
    <div class="cards">
        <div>
            <input type="checkbox" value="1" id="image-1" />
            <label for="image-1">
              <img src="assets/images/logo1.jpg" alt="" srcset="" />
            </label>
          </div>
          <div>
              <input type="checkbox" value="1" id="image-2" />
              <label for="image-2">
                <img src="assets/images/logo1.jpg" alt="" srcset="" />
              </label>
            </div>
            <div>
              <input type="checkbox" value="1" id="image-3" />
              <label for="image-3">
                <img src="assets/images/logo1.jpg" alt="" srcset="" />
              </label>
            </div>
            <div>
              <input type="checkbox" value="1" id="image-4" />
              <label for="image-4">
                <img src="assets/images/logo1.jpg" alt="" srcset="" />
              </label>
            </div>
            <div>
              <input type="checkbox" value="1" id="image-5" />
              <label for="image-5">
                <img src="assets/images/logo1.jpg" alt="" srcset="" />
              </label>
            </div>
    </div>
    
    </section>