<form class="flex items-center justify-end pb-10">
    <div class="mr-2">
      <select id="countries_disabled" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-violet-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-violet-500">
        <option selected>Choose status</option>
        <option value="US">Waiting</option>
        <option value="CA">Valid</option>
        <option value="FR">Refused</option>
      </select>
    </div>
    <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="simple-search" class="bg-gray-50 border-gray-300 text-gray-900 text-sm block pl-10  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500 block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-violet-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-violet-500" placeholder="Lorem" required>
    </div>
    <button type="submit" class="p-4 ml-2 text-sm font-medium text-white bg-primary rounded-lg border border-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
  </form>
  <app-order-table></app-order-table>
  <nav aria-label="Page navigation example" class="mt-10">
    <ul class="inline-flex -space-x-px">
      <li>
        <a href="#" class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
      </li>
      <li>
        <a href="#" aria-current="page" class="py-2 px-3 text-primary bg-violet-50 border border-gray-300 hover:bg-gray-100 hover:text-violet-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
      </li>
      <li>
        <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
      </li>
    </ul>
  </nav>
  