<aside>
    <div class="logo">
        <span>Hephaestus</span>
    </div>
    <div class="side-menu">
        <ul>
            <li>
                <img src="assets/icons/house.svg" alt="home" />
            </li>

            <li>
                <img src="assets/icons/user.svg" alt="home" />
            </li>

            <li>
                <img src="assets/icons/house.svg" alt="home" />
            </li>

        </ul>
    </div>
    <div class="logout">
        <img src="assets/icons/logout.svg" alt="" />
    </div>
</aside>
