<div class="container">
    <h1>Upload your competitors here</h1>
    <div class="form-group">
       
        <label for="file">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.31995 11.6799L11.8799 14.2399L14.4399 11.6799" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.88 4V14.17" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20 12.1799C20 16.5999 17 20.1799 12 20.1799C7 20.1799 4 16.5999 4 12.1799" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
        </label>
        <div class="upload-cap">Upload</div>
        <div class="upload-cap-hover">You can drag &amp; drop the file from your computer</div>
        <input type="file" id="file" name="file" hidden>
    </div>
</div>